<h1 class="fontChoiceH2">Les maken</h1>
<h2 class="fontChoiceH3" style="text-decoration: underline;">Vraagkeuze</h2>
<form style="padding-top: 2em; position: absolute; margin-left: 28em;">
 <h4 class="fontChoiceH4">Gekozen klas: {{klas}}</h4>
<h4 class="fontChoiceH4">Gekozen vak: {{vak}}</h4>
            <ul>
                <li ng-repeat="element in questionelement">

                        <div id={{element.id}}>
                           <p>Vraag:</p>
                                <input type="text" class="vragenEnAntwoord" ng-model="element.question" placeholder="Vraag" required>
                       
                            <p>Correct Antwoord:</p>
                                <input type="text" class="vragenEnAntwoord" ng-model="element.correctAntwoord" placeholder="Correct Antwoord" required>
                            
                            <p>Antwoord A:</p> 
                                <input type="text" class="vragenEnAntwoord" ng-model="element.answer1" placeholder="Antwoord A" required/>
                            
                            <p>Antwoord B:</p>
                                <input type="text" class="vragenEnAntwoord" ng-model="element.answer2" placeholder="Antwoord B" required/>
                            
                            <p>Antwoord C:</p>
                                <input type="text" class="vragenEnAntwoord" ng-model="element.answer3" placeholder="Antwoord C" required/>
                            
                            <p>Antwoord D:</p>
                                <input type="text" class="vragenEnAntwoord" ng-model="element.answer4" placeholder="Antwoord D" required/>
                            <p></p> <!-- deze p tag niet verwijderen dient om de knop verwijder uit te lijnen naar links -->
                            <span ng-hide="element.length == 1">
                                <a href ng-click="questionelement.splice($index, 1)">Verwijder</a>
                            </span>
                        </div>
                    <hr/>
                </li>
                <li>
                    <a href ng-click="newItem($event)">Nieuwe vraag</a>
                </li>
            </ul>
                <button ng-click="nextPageQuestions(questionelement);" type="submit" class="btn btn-success btnKiesLes">Volgende</button>
</form>
	