<ul class="nav nav-pills navLesson">
  <li role="presentation" class="active">

  <a href="#createLesson">Maak les</a>

  </li>
  <li role="presentation"><a href="#startLesson">Begin les</a></li>
  <li role="presentation"><a href="#">Overzicht resultaten</a></li>
</ul>

<form style="padding-top: 2em;">
 <p style="font-size: 3em;">Overzicht</p>
 <h4 class="summaryLes">Gekozen klas:</h4>
<p style="font-size: 1em;">{{klas}}</p>
<h4 class="summaryLes">Gekozen vak:</h4>
<p style="font-size: 1em;">{{vak}}</p>

<div ng-repeat = "q in vragen">

<h4 class="summaryLes">Vraag {{q.id}}:</h4>
<p style="font-size: 1em;">{{q.question}}</p>

<h4 class="summaryLes">Antwoord {{q.id}}:</h4>
<p style="font-size: 1em;">{{q.answer}}</p>

</div>
</form>

<button ng-click="submit()" type="button" class="btn btn-success btnKiesLes">Verzenden</button>
