<ul class="nav nav-pills navLesson">
  <li role="presentation" class="active"><a href="#createLesson">Maak les</a></li>
  <li role="presentation"><a href="#chooseClass">Begin les</a></li>
  <li role="presentation"><a href="#chooseClassGraph">Overzicht resultaten</a></li>
</ul>

<form style="padding-top: 2em;">
 <p style="font-size: 3em;">Wijs nu u vragen toe</p>

 <h4 class="summaryLes">Gekozen klas:</h4>
<p style="font-size: 1em;">{{klas}}</p>
<h4 class="summaryLes">Gekozen vak:</h4>
<p style="font-size: 1em;">{{vak}}</p>
            <ul>
                <li ng-repeat="element in questionelement">

                        <div id={{element.id}}>
                            Vraag:
                                <input type="text" ng-model="element.question" placeholder="Vraag" required>
                       
                            Antwoord: 
                                <input type="text" ng-model="element.answer" placeholder="Antwoord" required/>
                            
                        <span ng-hide="element.length == 1">
                            <a href ng-click="questionelement.splice($index, 1)">Verwijder</a>
                        </span>
                    </div>
                    <hr/>
                </li>
                <li>
                    <a href ng-click="newItem($event)">Nieuwe vraag</a>
                </li>
            </ul>
</form>
    <button ng-click="nextPageQuestions(questionelement);" type="submit" class="btn btn-success btnKiesLes">
Volgende
  </button>	