<ul class="nav nav-pills navLesson">
  <li role="presentation" class="active"><a href="#createLesson">Maak les</a></li>
  <li role="presentation"><a href="#">Begin les</a></li>
  <li role="presentation"><a href="#">Overzicht resultaten</a></li>
</ul>

<form style="padding-top: 2em;">
 <p style="font-size: 3em;">Kies nu u vak...</p>
  <input class="btnKiesLes" ng-model="vak" type="text" name="vak">
  <button ng-click="laatzienVak(vak);" type="button" class="btn btn-success btnKiesLes"></a> Volgende</button>
</form>