<ul class="nav nav-pills navLesson">
  <li role="presentation" class="active"><a href="#createLesson">Maak les</a></li>
  <li role="presentation"><a href="#startLesson">Begin les</a></li>
  <li role="presentation"><a href="#">Overzicht resultaten</a></li>
</ul>

<form style="padding-top: 2em;">
 <p style="font-size: 3em;">Wijs nu u vragen toe</p>

 <h4 class="summaryLes">Gekozen klas:</h4>
<p style="font-size: 1em;">{{klas}}</p>
<h4 class="summaryLes">Gekozen vak:</h4>
<p style="font-size: 1em;">{{vak}}</p>
 <div style="width: 500px; height: 100px;">
  <div style="float: left; width: 200px;"><p>Vraag: </p><input class="btnKiesLes" ng-model="vraag1" type="text" name="vragen"></div>
  <div style="float: left; width: 200px;"><p>Antwoord: </p><input class="btnKiesLes" ng-model="antwoord1" type="text" name="antwoorden"></div>
      <div style="float: left; width: 100px;"><button type="button" class="btn btn-success btnKiesPlus">+</button></div>
</div>
</form>
    <button ng-click="nextPageQuestions(vraag1, vraag2, vraag3);" type="button" class="btn btn-success btnKiesLes">
Volgende
  </button>	