<h2 class="fontChoiceH2">Les {{vak}} gestart</h2>
<div class="container" >
  <div class="panel panel-default">
  <div class="bgcontainer">
      <label>Vraag</label>
    <div class="panel-body">{{vraag}}</div>
      <label>Antwoord</label>
      <div class="panel-body">{{antwoord}}</div>
      </div>
  </div>
  <button ng-click="nextquestion();" type="button" class="btn btn-success btnNextquestion">{{welkevraag}}</button>
</div>

<canvas style="width: 25%; height: 25%;" id="Chart2"></canvas>
<canvas style="width: 25%; height: 25%;" id="Chart3"></canvas>
<canvas style="width: 25%; height: 25%;" id="Chart4"></canvas>



