<ul class="nav nav-pills navLesson">
  <li role="presentation">

  <a href="#createLesson">Maak les</a>

  </li>
  <li class="active" role="presentation"><a href="#viewquestion">Begin les</a></li>
  <li role="presentation"><a href="#chooseClassGraph">Overzicht resultaten</a></li>
</ul>

<div class="container">
  <h2>{{viewdata.vaknaam.vak}}</h2>
  <div class="panel panel-default">
      <label>Vraag</label>
    <div class="panel-body">{{vraag}}</div>
      <label>Antwoord</label>
      <div class="panel-body">{{antwoord}}</div>
  </div>
</div>
 <button ng-click="nextquestion();" type="button" class="btn btn-success btnNextquestion">volgende vraag</button>     
<canvas id="myChart" style="width: 100px; height: 100px;"></canvas>


<button ng-click="nextquestion();" type="button" class="btn btn-success btnNextquestion">{{welkevraag}}</button>
